{% extends "base.html" %}

{% block content %}
  <h1>Leaderboards</h1>
  {% if top_entries %}
    <table>
      <thead>
        <tr>
          <th align="left">Game</th>
          <th align="left">Current Global Leader</th>
          <th align="left">Region</th>
        </tr>
      </thead>
      <tbody>
        {% for item in top_entries %}
          <tr onclick="window.location='{% url 'leaderboard_view' item.entry.leaderboard.game.id %}'">
            <td>{{ item.game }}</td>
            <td>{{ item.entry.user.user.name }}</td>
            <td>{{ item.entry.region }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      <strong>Default View Metric:</strong> {{ default_view_metric|default:"Not set" }}
      &nbsp;&nbsp;&nbsp;
      <strong>Anonymity Setting:</strong> {{ anonymity|default:"Not set" }}
    </p>
  {% else %}
    <p>No leaderboard entries found.</p>
  {% endif %}
{% endblock content %}
