<h1>{{ leaderboard.name }}</h1>
<p>{{ leaderboard.description }}</p>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <<<<<<< HEAD
      =======
      <!--<th>Region</th>-->
      >>>>>>> origin/dev
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
      <tr>
        <td>{{ entry.rank }}</td>
        <td>{{ entry.user.display_name }}</td>
        <<<<<<< HEAD
        =======
        <!--<td>{{ entry.user.region }}</td>-->
        >>>>>>> origin/dev
      </tr>
    {% endfor %}
  </tbody>
</table>
