<!-- Full transparency: This was AI generated code. This needs to be made to be
more pretty. I just needed this to see my results. -->
{% extends "base.html" %}

{% block content %}
  <h1>Confirm Delete</h1>
  <p>
    Are you sure you want to delete your
    {% if setting.leaderboard %}
      Leaderboard: {{ setting.leaderboard.name }}
    {% elif setting.game %}
      Game: {{ setting.game.name }}
    {% else %}
      Global
    {% endif %}
    setting?
  </p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, Delete</button>
    <a href="{% url 'privacy-list' %}">Cancel</a>
  </form>
{% endblock content %}
