[submodule "src/sandbox/src/sandbox/misago-demo/Misago"]
	path = src/sandbox/src/sandbox/misago-demo/Misago
	url = https://github.com/rafalp/Misago.git

[submodule "src/sandbox/misago"]
    path = src/sandbox/misago
    url = https://github.com/rafalp/Misago.git
