{% load static i18n %}
{% load tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        ChiGame
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ChiGame" />
    <meta name="author" content="University of Chicago" />
    <link rel="icon" href="{% static 'images/favicons/chigame.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Bootstrap CSS Icons-->
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet"
            type="text/css" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block js %}
    {% endblock js %}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
              integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
      <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img class="navbar-logo img-fluid align-top"
               src="{% static 'images/logos/logo.png' %}"
               alt="ChiGame Logo" />
          <a class="navbar-brand" href="{% url 'home' %}">ChiGame</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'forum:index' %}">Forums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lobby-list' %}">Lobbies</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'game-list' %}">Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'tournament-list' %}">Tournaments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     href="{% url 'users:user-profile' request.user.pk %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:user-inbox' request.user.pk %}">{% translate "Inbox" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
              <li>
                <!-- Dynamically update search bar landing page depending on query_type-->
                <form id="search-bar" action="{% url 'game-search-results' %}" method="get">
                  <select id="query-type" name="query_type">
                    <option value="games">Games</option>
                    <option value="users">Users</option>
                    <option value="forums">Forums</option>
                    <!-- Add more options here -->
                  </select>
                  <!-- Name must remain as "q" as django-machina expects that name -->
                  <input id="query-input" name="q" type="text" placeholder="Search..." />
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {% block body %}
    {% endblock body %}
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
        <p>Coming soon!</p>
      {% endblock content %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
      {% comment %}
      Dynammically change the autocomplete options and where the search bar sends a GET
      request to based on the selected value of the query type dropdown menu.
      {% endcomment %}
      {# disable djlint for this section because the linter breaks the template tags #}
      <!-- djlint:off --><script>   // "djlint:off" turns the linter off for this section of code
        document.addEventListener('DOMContentLoaded', function() {
          const search_bar = document.getElementById('search-bar');
          const query_type = document.getElementById('query-type');
          const query_input = document.getElementById('query-input');
          const AUTOCOMPLETION_RESULTS_LIMIT = 10;

          // by default, query autocompletes game names
          {% get_games as games %} // fetch game names for autocomplete
          var game_names = [
            {% for game in games %}
              {
                url: "{% url 'game-detail' pk=game.pk %}",
                label: "{{game.name}}"
              },
            {% endfor %}
          ];
          $("#query").autocomplete({
              source: function(request, response) {
                /*
                new regular expression object (RegExp) to search for pattern
                request.term is the string entered into the search bar
                "i" means that the matching is case insensitive
                */
                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                // results is all of the game names that match the term in the search bar
                var results = $.grep(game_names, function(tag){
                  return matcher.test(tag.label)
                })
                // only display the first 10 results
                response(results.slice(0, AUTOCOMPLETION_RESULTS_LIMIT));
              },
              // clicking on the autocomplete tag takes you to the game detail page
              select: function(event, ui) {
                window.location.href = ui.item.url;
              }
          });

          // if the query type changes, update the landing page and autocomplete options
	      
          query_type.addEventListener("change", function() {
            if (query_type.value === "games") {
              search_bar.action = "{% url 'game-search-results' %}";

	            {% get_games as games %}  // fetch game names for autocomplete
              var game_names = [
                {% for game in games %}
                  {
                    url: "{% url 'game-detail' pk=game.pk %}",
                    label: "{{game.name}}"
                  },
                {% endfor %}
              ];
              $("#query").autocomplete({
                source: function(request, response) {
                  /*
                  new regular expression object (RegExp) to search for pattern
                  request.term is the string entered into the search bar
                  "i" means that the matching is case insensitive
                  */
                  var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                  // results is all of the game names that match the term in the search bar
                  var results = $.grep(game_names, function(tag){
                    return matcher.test(tag.label)
                  })
                  // only display the first 10 results
                  response(results.slice(0, AUTOCOMPLETION_RESULTS_LIMIT));
                },
                // clicking on the autocomplete tag takes you to the game detail page
                select: function(event, ui) {
                  window.location.href = ui.item.url;
                }
              });
            } else if (query_type.value == "users") {
              search_bar.action = "{% url 'users:user-search-results' %}";
              $("#query").autocomplete({
                source: []  // placeholder; replace with list of usernames
              });           
            } else if (query_type.value === "forums") {
              search_bar.action = "{% url 'forum_search:search' %}";
              $("#query").autocomplete({
                source: []  // placeholder; replace with list of forums
              });
            }
          });
  
          // do nothing if search bar is empty
          search_bar.addEventListener("submit", function(event) {
            if (!query_input.value.trim()) {
              event.preventDefault();
            }
          });
        });
</script><!-- djlint:on -->
{# turn djlint back on so that the rest of the code is checked for format/stylistic errors#}
{% endblock inline_javascript %}
</body>
</html>
