{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
  <div class="container mt-4">
    <a href="{% url 'users:user-inbox' pk=request.user.pk %}"
       class="btn btn-primary">Back</a>
    <br />
    <br />
    <ul class="list-group">
      {% for notification in notifications %}
        {% with notification_type=notification.type %}
          <div class="inbox-item">
            <li class="notification-container list-group-item d-flex justify-content-between align-items-center border shadow-sm notification-hover {% if notification.read %}read{% else %}unread{% endif %}">
              <div class="message-row ms-2 me-auto">
                <div class="d-flex align-items-center gap-2">
                  <label>
                    <input type="checkbox" disabled />  <!-- Disabled since deleted -->
                  </label>

                  <small class="sender-minimal me-2">{{ notification.get_sender_display }}</small>

                    <span class="text-muted">{{ notification.get_rich_message|truncatewords:15 }}</span>
                    
                </div>
                <span class="badge bg-info ms-2">{{ notification.get_category_display }}</span>
              </div>
            </li>

            <div class="button-container list-group-item d-flex justify-content-between align-items-center border shadow-sm">
              <a href="{% url 'users:act-on-inbox-notification' notification.pk 'move_to_inbox' %}"
                class="text-decoration-none text-primary" title="Restore">
                <i class="bi bi-inbox icon-lg"></i>
              </a>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>
  <script>
    const notificationItems = document.querySelectorAll('.notification-container');
    notificationItems.forEach(function(notificationItem) {
      const buttonContainer = notificationItem.querySelector('.button-container');
      buttonContainer.style.display = "none";
      notificationItem.addEventListener("mouseover", function(event) {
        if (buttonContainer) {
          buttonContainer.style.display = 'flex';
        }
      });

      notificationItem.addEventListener("mouseout", function(event) {
        if (buttonContainer) {
          buttonContainer.style.display = 'none';
        }
      });
    });
  </script>
{% endblock content %}
