{% extends "base.html" %}

{% load static %}

{% block title %}
  Group Details
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Group Details:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>{{ object.name }}</h3>
        <p>Group ID: {{ object.id }}</p>
        <p>Description: {{ object.description|default:"No description provided." }}</p>
        <p>Created on: {{ object.date_created }}</p>
        <p>Members:</p>
        <ul>
          {% for member in object.members.all %}
            <li>{{ member.name|default:member.username|default:"Unnamed User" }}</li>
          {% endfor %}
        </ul>
        <div class="mt-3">
          {% if user in object.members.all %}
            <a href="{% url 'users:group-leave' object.id %}"
               class="btn btn-warning">Leave Group</a>
          {% else %}
            <a href="{% url 'users:group-join' object.id %}" class="btn btn-primary">Join Group</a>
          {% endif %}
          {% if user == object.created_by %}
            <a href="{% url 'users:group-update' object.id %}" class="btn btn-info">Edit Group</a>
            <a href="{% url 'users:group-delete' object.id %}"
               class="btn btn-danger">Delete Group</a>
          {% endif %}
          <a href="{% url 'users:group-list' %}" class="btn btn-secondary">Back to Groups</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
