{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
  <div class="container mt-4">
    <ul class="list-group">
      {% for notification in notifications %}
        {% with notification_type=notification.type %}
          <li class="list-group-item d-flex justify-content-between align-items-start border mb-3">
            <div class="ms-2 me-auto">
              {% if notification.message %}
                {{ notification.message }}
              {% else %}
                {{ default_notification_messages | get_dict_val:notification_type }}
              {% endif %}
            </div>
            <a href="{% url 'users:mark-notification-read' notification.pk %}"><span class="badge bg-primary rounded-pill me-2">Mark as read</span></a>
            <a href="{% url 'users:delete-notification' notification.pk %}"><span class="badge bg-primary rounded-pill me-2">Delete</span></a>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
