{% extends "base.html" %}

{% load static %}

{% block title %}
  My Details:
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>My Account:</h2>
      </div>
    </div>
    {% if object == request.user %}
      <!-- Action buttons -->
      <style>
        .list-item {
          margin-bottom: 5px;
          list-style-type: none;
        }

        .list-button {
          margin-bottom: 20px;
          list-style-type: none;
        }

        .update-button {
          margin-left: 10px;
        }
      </style>
      <div class="row">
        <div class="col-sm-12">
          <ul>
            {% if object.is_staff %}
              <li class="list-item">
                <strong>Admin of Chigame</strong>
              </li>
            {% endif %}
            <li class="list-item">Name: {{ object.name }}</li>
            <li class="list-button">
              <form method="post" action="{% url 'users:update' %}">
                {% csrf_token %}
                <input type="text"
                       name="name"
                       value="{{ object.name }}"
                       placeholder="New name" />
                <button type="submit" class="btn btn-primary btn-sm">Update Name</button>
              </form>
            </li>
            <li class="list-item">
              Email: {{ object.email }}<a class="btn btn-primary btn-sm update-button"
   href="{% url 'account_email' %}"
   role="button">Update E-Mail</a>
            </li>
            <li class="list-item">Display Name: {{ object.userprofile.display_name }}</li>
            <li class="list-item">Bio: {{ object.userprofile.bio }}</li>
            <li class="list-item">Date Joined: {{ object.date_joined }}</li>
            <!-- Your Stuff: Custom user template URLs -->
            {% if object.is_staff %}
              <li class="list-item">
                Users:
                <a class="btn btn-primary btn-sm update-button"
                   href="{% url 'users:user-list' %}"
                   role="button">List of Users</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% else %}
      <!-- Display a message or take a different action -->
      <p>This account does not belong to you. Access is forbidden.</p>
    {% endif %}
    <!-- End Action buttons -->
  </div>
{% endblock content %}
