{% extends "base.html" %}

{% load static %}

{% block content %}
  <style>
    .profile-photo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      border: 3px solid #800000;
    }

    .btn {
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 15px;
      transition: border-color 0.3s, box-shadow 0.3s;
      font-size: 13px;
      padding: 2px 4px;
    }

    .btn:focus {
      outline: none;
      border-color: #800000;
      box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.2);
    }

    .btn {
      background-color: #800000;
      color: white;
      text-align: center;
      border: none;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #800000;
    }
  </style>
  <div class="container my-4">
    <h2 class="mb-4">My Friends</h2>
    {% if friends %}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for friend in friends %}
          <div class="col-12 col-md-8">
            <div class="card h-100 shadow-sm border-0">
              <div class="card-body d-flex align-items-center">
                <div class="d-flex align-items-center">
                  {% if friend.userprofile.profile_photo %}
                    <img src="{{ friend.userprofile.profile_photo.url }}"
                         alt="{{ friend.username|default:'No username' }}'s profile picture"
                         class="profile-photo rounded-circle me-3" />
                  {% else %}
                    <img src="{% static 'images/no_picture_available.png' %}"
                         alt="Default Profile Photo"
                         class="profile-photo rounded-circle me-3" />
                  {% endif %}
                  <div>
                    {% if friend.username %}<h5 class="card-title mb-0">@{{ friend.username }}</h5>{% endif %}
                    {% if friend.name %}<small class="text-muted">{{ friend.name }}</small>{% endif %}
                  </div>
                </div>
                <div class="ms-auto">
                  <a href="{% url 'users:user-profile' friend.pk %}"
                     class="btn btn-primary">View Profile</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center mt-5">
        <p class="text-muted">You don't have any friends yet. Start connecting with other users!</p>
      </div>
    {% endif %}
  </div>
{% endblock content %}
