{% extends "base.html" %}

{% load static %}

{% block title %}
  My Details:
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>My Account:</h2>
      </div>
    </div>
    {% if object == request.user %}
      <!-- Action buttons -->
      <style>
        .list-item {
          margin-bottom: 20px;
          list-style-type: none;
        }
      </style>
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li class="list-item">
              User Display Name: {{ object.name }}
              <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Update Name</a>
            </li>
            <li class="list-item">
              Email: {{ object.email }}
              <a class="btn btn-primary"
                 href="{% url 'account_email' %}"
                 role="button">Update E-Mail</a>
            </li>
            <li class="list-item">Bio: {{ object.userprofile.bio }}</li>
            <li class="list-item">Date Joined: {{ object.date_joined }}</li>
            <li class="list-item">
              Friends:
              {% if object.userprofile.friends.all %}
                <ul>
                  {% for friend in object.userprofile.friends.all %}<li>{{ friend.name }}</li>{% endfor %}
                </ul>
              {% else %}
                <p>No friends yet.</p>
              {% endif %}
            </li>
            <!-- Your Stuff: Custom user template URLs -->
          </ul>
        </div>
      </div>
    {% else %}
      <!-- Display a message or take a different action -->
      <p>This account does not belong to you. Access is forbidden.</p>
    {% endif %}
    <!-- End Action buttons -->
  </div>
{% endblock content %}
