<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"Words"</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--Add Nav Bar from Chi game-->
    <div id="container">
      <div id="title">
        <h1 class="name">"Words"</h1>
        <h2 class="select">Select Game Mode</h2>
      </div>
      <!--Game Modes to Choose From-->
      <div class="game-modes">
        <div class="mode">
          <a href="{% url 'game' %}">
            <button class="mode-btn">Solo</button>
          </a>
          <p>
            <strong>Mode:
              <br />
            </strong>
            Basic Word: In this mode,
            players are given a new five-letter word to guess each
            time they play. There are no restrictions, so you can
            play as many times as you want, solving a different
            word with each new game.
          </p>
        </div>
        <div class="mode">
          <a href="{% url 'solo' %}">
            <button class="mode-btn">Daily</button>
          </a>
          <p>
            <strong>Mode:
              <br />
            </strong>Basic Word:
            In this mode, players are given one five-letter word
            to guess each day. Everyone around the world gets the
            same word, come back daily for a new challenge.
          </p>
        </div>
        <div class="mode">
          <a href="#">
            <button class="mode-btn" onclick="alert('Not implemented yet')">Versus</button>
          </a>
          <p>
            <strong>Mode:</strong> TO BE IMPLEMENTED
          </p>
        </div>
        <div class="mode">
          <a href="#">
            <button class="mode-btn" onclick="alert('Not implemented yet')">Tournament</button>
          </a>
          <p>
            <strong>Mode:</strong> TO BE IMPLEMENTED
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
