{% extends "base.html" %}

{% block content %}
  <h1>Update Feedback</h1>
  <form method="post">
    {% csrf_token %}
    <label for="content">Comment:</label>
    <br />
    <textarea id="content" name="content">{{ feedback.comment }}</textarea>
    <br />
    <br />
    <label for="rating">Rating:</label>
    <br />
    <input type="number"
           id="rating"
           name="rating"
           value="{{ feedback.rating }}"
           min="1"
           max="5" />
    <br />
    <br />
    <button type="submit">Update Feedback</button>
  </form>
{% endblock content %}
