{% extends "base.html" %}

{% block content %}
  <h1>{{ tournament.name }}</h1>
  <p>Game: {{ tournament.game }}</p>
  <p>Start date: {{ tournament.start_date }}</p>
  <p>End date: {{ tournament.end_date }}</p>
  <p>Max players: {{ tournament.max_players }}</p>
  <p>Description: {{ tournament.description }}</p>
  <p>Rules: {{ tournament.rules }}</p>
  <p>Draw rules: {{ tournament.draw_rules }}</p>
  <p>Players:</p>
  <ul>
    {% for player in tournament.get_all_players %}
      <li>
        <p>
          {% if player.name %}
            <a href="{% url 'users:detail' player.id %}">{{ player.name }}</a>
          {% else %}
            <a href="{% url 'users:detail' player.id %}">{{ player.email }}</a>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
  <p>Winners:</p>
  {% if tournament.get_all_winners %}
    <p>Winners:</p>
    <ul>
      {% for winner in tournament.get_all_winners %}
        <li>
          <p>
            {% if winner.name %}
              <a href="{% url 'users:detail' winner.id %}">{{ winner.name }}</a>
            {% else %}
              <a href="{% url 'users:detail' winner.id %}">{{ winner.email }}</a>
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- You can add more fields as needed -->
  <p>Matches:</p>
  {% if tournament.get_all_matches %}
    <ul>
      {% for match in tournament.get_all_matches %}
        <li>
          <p>
            Match (
            {% for player in match.players.all %}
              {% if player.name %}
                <a href="{% url 'users:detail' player.id %}">{{ player.name }}</a>
              {% else %}
                <a href="{% url 'users:detail' player.id %}">{{ player.email }}</a>
              {% endif %}
              {% if not forloop.last %}vs.{% endif %}
            {% endfor %}
            )
          </p>
          <!-- You can add more fields as needed -->
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No matches yet.</p>
  {% endif %}
  {% if request.user.is_staff %}
    <p>
      <a href="{% url 'tournament-update' tournament.id %}">Update</a>
    </p>
    <p>
      <a href="{% url 'tournament-delete' tournament.id %}">Delete</a>
    </p>
  {% endif %}
  {% if request.user == tournament.created_by %}
    <p>
      <a href="{% url 'tournament-update' tournament.id %}">Update</a>
    </p>
  {% endif %}
{% endblock content %}
