{% extends "base.html" %}

{% block content %}
  <h1>Tournaments</h1>
  <ul>
    {% for tournament in tournament_list %}
      <li>
        <h2>
          <a href="{% url 'tournament-detail' tournament.id %}">{{ tournament.name }}</a>
        </h2>
        <p>Game: {{ tournament.game }}</p>
        <p>Start date: {{ tournament.start_date }}</p>
        <p>End date: {{ tournament.end_date }}</p>
        <p>Max players: {{ tournament.max_players }}</p>
        <p>Description: {{ tournament.description }}</p>
        <p>Rules: {{ tournament.rules }}</p>
        <p>Draw rules: {{ tournament.draw_rules }}</p>
        {% if tournament.get_all_winners %}
          <p>Winners:</p>
          <ul>
            {% for winner in tournament.get_all_winners %}
              <li>
                <p>
                  {% if winner.name %}
                    <a href="{% url 'users:detail' winner.id %}">{{ winner.name }}</a>
                  {% else %}
                    <a href="{% url 'users:detail' winner.id %}">{{ winner.email }}</a>
                  {% endif %}
                </p>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        <p>Players:</p>
        {% if tournament.get_all_players %}
          <ul>
            {% for player in tournament.get_all_players %}
              <li>
                <p>
                  {% if player.name %}
                    <a href="{% url 'users:detail' player.id %}">{{ player.name }}</a>
                  {% else %}
                    <a href="{% url 'users:detail' player.id %}">{{ player.email }}</a>
                  {% endif %}
                </p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No player yet.</p>
        {% endif %}
        {% if user.is_authenticated %}
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
            <input type="hidden" name="action" value="join" />
            <button type="submit" id="Join">Join</button>
          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="tournament_id" value="{{ tournament.id }}" />
            <input type="hidden" name="action" value="withdraw" />
            <button type="submit" id="Withdraw">Withdraw</button>
          </form>
        {% endif %}
        <!-- You can add more fields as needed -->
      </li>
    {% empty %}
      <li>No tournaments available.</li>
    {% endfor %}
  </ul>
  {% if request.user.is_authenticated %}
    <p>
      <a href="{% url 'tournament-create' %}">Create a new tournament</a>
    </p>
  {% endif %}
{% endblock content %}
