
.notifications-dropdown {
  width: 320px;
  max-height: 400px;
  overflow-y: auto;
  padding: 0.5rem;
}

#notification-btn-wrapper button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

#notification-btn-wrapper button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}


.notification-dismiss-btn:hover {
    background-color: transparent !important;
    opacity: 1;
}

.notification-item {
  margin-bottom: .3rem;
}

.notification-style-friend {
  background-color: #f8f9fa;
  border-left: 3px solid #7aa5d5;
}
.notification-style-group {
  background-color: #f8f9fa;
  border-left: 3px solid #85c799;
}
.notification-style-match {
  background-color: #f8f9fa;
  border-left: 3px solid #f0ad4e;
}
.notification-style-achievement {
  background-color: #f8f9fa;
  border-left: 3px solid #d9534f;
}
.notification-style-system {
  background-color: #f8f9fa;
  border-left: 3px solid #5bc0de;
}
.notification-style-default {
  background-color: #ffffff;
}

.notification-unread .notification-strong {
    font-weight: bold;
    color: #000;
}

.notification-unread {
    background-color: #e9ecef; /* A slightly more distinct background for unread */
}

.notification-icon {
  padding-left: .4rem !important;
}


.notification-strong {
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.dropdown {
  border-radius: 4px;
  padding: .1rem;
}
