{% extends "base.html" %}

{% load static %}

{% block title %}
  Playing {{ game.name }}
{% endblock title %}
{% block content %}
  <h1 class="text-center mt-3">Playing {{ game.name }}</h1>
  <link rel="stylesheet" href="{% static 'css/checkers.css' %}" />
  <div class="main-content">
    <div class="main-left">
      <div id="game"></div>
    </div>
    <div class="main-right">
      <h1>Game Rules</h1>
      <button class="btn"
              onclick="window.open('https://github.com/uchicago-cs/chigame/wiki/Adding-Games-~-Checkers-Rules', '_blank')">
        Read More
      </button>
    </div>
  </div>
  <!-- Load Phaser first -->
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.min.js"></script>
  <!-- Load your game script after Phaser -->
  <script src="{% static 'js/checkers.js' %}"></script>
{% endblock content %}
