{% extends "base.html" %}

{% block title %}
  {{ game.name }} Details
{% endblock title %}
{% block content %}
  <div class="row mt-3 mb-3">
    <div class="col-md-3">
      <img src="{{ game.image }}" class="img-thumbnail" alt="game cover" />
    </div>
    <div class="col-md-9">
      <h1 class="display-1">{{ game.name }}</h1>
      <h4>
        {% if game.min_players == game.max_players %}
          {{ game.min_players }}
        {% else %}
          {{ game.min_players }}–{{ game.max_players }}
        {% endif %}
        players
      </h4>
      <h4>Complexity: {{ game.complexity }}/5</h4>
      {% for category in game.category.all %}
        <a href="#"><span class="badge rounded-pill text-bg-primary">{{ category }}</span></a>
      {% endfor %}
      {% for mechanic in game.mechanics.all %}
        <a href="#"><span class="badge rounded-pill text-bg-secondary">{{ mechanic }}</span></a>
      {% endfor %}
      <div class="btn-group btn-group-lg mt-3">
        <a href="#" class="btn btn-outline-primary">Join a Match</a>
        <a href="#" class="btn btn-outline-primary">Create a Match</a>
      </div>
    </div>
  </div>
  <div class="row mb-3 bg-light p-3 rounded-2">
    <div class="col-3">
      <div id="description-list" class="list-group">
        <a class="list-group-item list-group-item-action" href="#description">Description</a>
        <a class="list-group-item list-group-item-action"
           href="#player-description">Players</a>
        <a class="list-group-item list-group-item-action"
           href="#playtime-description">Playtime</a>
        <a class="list-group-item list-group-item-action"
           href="#rule-description">Rules</a>
      </div>
    </div>
    <div class="col-9">
      <div data-bs-target="#description-list" tabindex="0">
        <h3 id="description">Description</h3>
        {# there is no year 0 so if this is the year published don't display it #}
        {% if game.year_published != 0 %}
          <p class="lead">
            Published in
            {% if game.year_published < 0 %}
              {# this code performs the operation: game.year_published * -1 #}
              {# if multiplication is used elsewhere then it might be best to create a custom template tag #}
              {% widthratio game.year_published 1 -1 %} BCE
            {% else %}
              {{ game.year_published }}
            {% endif %}
          </p>
        {% endif %}
        <p>{{ game.description|linebreaksbr }}</p>
        <h3 id="player-description">Players</h3>
        <p>
          {% if game.min_players == game.max_players %}
            {{ game.min_players }}
          {% else %}
            {{ game.min_players }}–{{ game.max_players }}
          {% endif %}
          players
        </p>
        <p>
          <strong>Recommended Age:</strong> {{ game.suggested_age }}+
        </p>
        <h3 id="playtime-description">Playtime</h3>
        {% if game.min_playtime == game.max_playtime %}
          <p>{{ game.min_playtime }} minutes</p>
        {% else %}
          <p>{{ game.min_playtime }}–{{ game.max_playtime }} minutes</p>
          <p>
            <strong>Expected:</strong> {{ game.expected_playtime }} minutes
          </p>
        {% endif %}
        <h3 id="rule-description">Rules</h3>
        <div class="mb-4">
          <p>{{ game.rules }}</p>
          <h3 id="new-review">Write a Review</h3>
          <form method="post" action="{% url 'game-detail' pk=game.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Review</button>
          </form>
        </div>
        <a href="{% url 'game-review-list' pk=game.pk %}">See All Reviews for {{ game.name }}</a>
      </div>
    </div>
  </div>
  {% if user.is_staff %}
    <div class="btn-group">
      <a href="{% url 'game-edit' game.pk %}" class="btn btn-outline-primary">Edit</a>
      <a href="#" class="btn btn-outline-primary">Delete</a>
    </div>
  {% endif %}
  <a href="{% url 'game-list' %}">Back to Games List</a>
{% endblock content %}
