{% extends "base.html" %}

{% block content %}
  <h1>Lobby Details</h1>
  <p>
    <strong>Name:</strong> {{ lobby_detail.name }}
  </p>
  <p>
    <strong>Game:</strong> {{ lobby_detail.game }}
  </p>
  <p>
    <strong>Created By:</strong> {{ lobby_detail.created_by }}
  </p>
  <p>
    <strong>Minimum Players:</strong> {{ lobby_detail.min_players }}
  </p>
  <p>
    <strong>Maximum Players:</strong> {{ lobby_detail.max_players }}
  </p>
  <h2>Members:</h2>
  <ul>
    {% for member in lobby_detail.members.all %}<li>{{ member.username }}</li>{% endfor %}
    <form method="post" action="{% url 'lobby-details' lobby_detail.pk %}">
      {% csrf_token %}
      <input type="hidden" name="user_id" value="{{ member.username }}" />
      <input type="hidden" name="lobby_id" value="{{ lobby_detail.id }}" />
      <button type="submit">Leave Lobby</button>
    </form>
  </ul>
  <p>
    <a href="{% url 'lobby-join' lobby_detail.pk %}">Join Lobby</a>
  </p>
{% endblock content %}
