{% extends "base.html" %}

{% block content %}
  <h1>Lobby Details</h1>
  <script>
    window.onload = function() {
        var startTime = new Date(Date.parse(document.getElementById("countdown").innerText));
        
        console.log("start time:", startTime)

        function updateCountdown() {
            // get current date and time
            var currentDate = new Date();
            // calculate the remaining time in milliseconds
            var timeDiff = startTime - currentDate;
            // check if the countdown has reached zero
            if (timeDiff <= 0) {
                clearInterval(countdownInterval);
                document.getElementById("countdown").innerHTML = "Match has started!";
            } else {
                var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                var hours = Math.floor((timeDiff % (1000 * 60 * 60 *24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);
                // display the countdown
                if (days == 0) {
                    if (hours == 0) {
                        if (minutes == 0) {
                            document.getElementById("countdown").innerHTML = seconds + "s";
                        } else {
                            document.getElementById("countdown").innerHTML = minutes + "m " + seconds + "s";
                        }
                    } else {
                        document.getElementById("countdown").innerHTML = hours + "h " + minutes + "m " + seconds + "s";
                    }
                } else {
                    document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
                }
            }
        }
        setInterval(updateCountdown, 1000);
        updateCountdown();
      };
  </script>
  <p>
    <strong>Match starts in:</strong> <span id="countdown">{{ lobby_detail.match_start_time }}</span>
  </p>
  <p>
    <strong>Name:</strong> {{ lobby_detail.name }}
  </p>
  <p>
    <strong>Game:</strong> {{ lobby_detail.game }}
  </p>
  <p>
    <strong>Created By:</strong> {{ lobby_detail.created_by }}
  </p>
  <p>
    <strong>Minimum Players:</strong> {{ lobby_detail.min_players }}
  </p>
  <p>
    <strong>Maximum Players:</strong> {{ lobby_detail.max_players }}
  </p>
  <h2>Members:</h2>
  <ul>
    {% for member in lobby_detail.members.all %}<li>{{ member.email }}</li>{% endfor %}
  </ul>
  <p>
    <a href="{% url 'lobby-join' lobby_detail.pk %}">Join Lobby</a>
  </p>
  <p>
    <a href="{% url 'lobby-leave' lobby_detail.pk %}">Leave Lobby</a>
  </p>
  {% if user == lobby_detail.created_by %}
    <a href="{% url 'lobby-edit' lobby_detail.pk %}">Edit Lobby</a>
    &emsp;<a href="{% url 'lobby-delete' lobby_detail.pk %}">Delete Lobby</a>
  {% endif %}
{% endblock content %}
