.guide-detail-header p {
  margin: 3px 0;
  color: gray;
}

.guide-detail-header .visit-game-link {
  color: #0d6efd;
}


.likefav-button {
  background: none;
  border: none;
  font-size: 16pt;
  cursor: pointer;
  padding: 0;
}


.likefav-text {
  font-size: 12pt;
}


.heart-hollow {
  color: gray;
  transition: color 0.5s ease;
}

.heart-liked {
  color: red;
  transition: color 0.5s ease;

}


.star-hollow {
  color: gray;
  transition: color 0.5s ease;
}

.star-faved {
  color: #D4AF37;
  transition: color 0.5s ease;

}
