{% extends "base.html" %}

{% block title %}
  Knowledge Base
{% endblock title %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/knowledge-base-styles.css' %}" rel="stylesheet" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
{% endblock css %}
{% block javascript %}
  {{ block.super }}
{% endblock javascript %}
{% block nav_extension %}
  <div class="knowledge-base container mt-4">
    <div class="nav w-100 bg-light border rounded rounded-lg d-flex flex-row justify-content-between p-2 px-4 fw-semibold">
      <a href="{% url 'knowledge-base' %}">
        <p class="mb-0">Home</p>
      </a>
      <div class="d-flex gap-3">
        <a href="{% url 'knowledge-base-feedback' %}">
          <p class="mb-0">Give Feedback</p>
        </a>
        {% if request.user.moderator %}
          <a href="{% url 'knowledge-base-moderator' %}" class="btn btn-primary">
            <p class="mb-0">Moderator Dashboard</p>
          </a>
        {% endif %}
        <a href="{% url 'contributor-manage-guide' %}" class="btn btn-primary">
          <p class="mb-0">Manage My Guides</p>
        </a>
        <a href="{% url 'knowledge-base-faq' %}">
          <p class="mb-0">FAQ</p>
        </a>
      </div>
    </div>
  </div>
{% endblock nav_extension %}
{% block content %}
  <div class="knowledge-base container mt-4">
    <div class="page-content">
      {% block page-content %}
        <h1>Uh oh, looks like we ran into an issue.</h1>
      {% endblock page-content %}
    </div>
  </div>
{% endblock content %}
