{% extends "knowledge-base/base.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/knowledge-base-styles.css' %}" />
{% block page-content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if 'guide-upload' in message.tags %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  <h1 class="mb-4">Manage My Guides</h1>
  <div class="contributor-header-box">
    <form method="get" class="mb-3 d-flex align-items-center gap-2">
      <select name="sort" class="form-select w-auto">
        <option value="">Sort By:</option>
        <option value="status"
                {% if request.GET.sort == "status" %}selected{% endif %}>Status</option>
        <option value="game" {% if request.GET.sort == "game" %}selected{% endif %}>Game</option>
        <option value="likes" {% if request.GET.sort == "likes" %}selected{% endif %}>Likes</option>
        <option value="newest"
                {% if request.GET.sort == "newest" %}selected{% endif %}>Most Recent Updates</option>
        <option value="old" {% if request.GET.sort == "old" %}selected{% endif %}>Oldest Update</option>
      </select>
      <button type="submit" class="btn btn-outline-secondary">Search</button>
    </form>
    <a href="{% url 'knowledge-base-guide-upload' %}"
       class="btn btn-primary create-guide-btn">Create New Guide</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Your Guides</th>
          <th>Upload Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for guide in guides %}
          <tr>
            <td>
              <a href="{% url 'download-guide' guide.pk %}"
                 class="btn btn-outline-secondary"><i class="fas fa-download"></i></a>
              &nbsp;
              <a class="text-decoration-none"
                 href="{% url 'knowledge-base-guide-detail' guide.pk %}">Guide for {{ guide.game_id }}(ID={{ guide.pk }})</a>
            </td>
            <td>Last Upload: {{ guide.recent_upload }}</td>
            <td>
              {% if guide.status == 0 %}
                <span class="badge bg-warning text-dark">{{ guide.get_status_display }}&nbsp;</span>
              {% elif guide.status == 1 %}
                <a class="btn btn-success text-dark"
                   href="{% url 'feedback-detail' guide.latest_feedback.pk %}">{{ guide.get_status_display }}&nbsp;</a>
              {% elif guide.status == 2 %}
                <a class="btn btn-danger text-dark"
                   href="{% url 'feedback-detail' guide.latest_feedback.pk %}">{{ guide.get_status_display }}&nbsp;</a>
              {% elif guide.status == 3 %}
                <a class="btn btn-warning text-dark"
                   href="{% url 'feedback-detail' guide.latest_feedback.pk %}">{{ guide.get_status_display }}&nbsp;</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        {% if not guides %}<td colspan="4">No guides found.</td>{% endif %}
      </tbody>
    </table>
  </div>
{% endblock page-content %}
