{% extends "knowledge-base/base.html" %}

<link rel="stylesheet" href="static/css/knowledge-base-styles.css" />
{% block page-content %}
  <h1 style="padding-bottom: 3vh">Manage My Guides</h1>
  <div class="uploaded-guides-box">
    <div class="uploaded-guides-column" style="width:25%">
      <div class="column-header" style="border-left: 2px black solid">Your Guides</div>
      <div class="column-entry-box" style="border-left:2px solid black">
        <div class="guide-entry">Example Guide 1</div>
        <div class="guide-entry">Example Guide 2</div>
      </div>
    </div>
    <div class="uploaded-guides-column" style="width:25%">
      <div class="column-header">Recent Updates</div>
      <div class="column-entry-box">
        <div class="guide-entry">Last Updated: 110 BCE</div>
        <div class="guide-entry">Last Updated: Now</div>
      </div>
    </div>
    <div class="uploaded-guides-column" style="width:50%;">
      <div class="column-header" style="border-right:2px solid black">Status</div>
      <div class="column-entry-box" style="border-right: 2px solid black">
        <div class="guide-entry">Pending</div>
        <div class="guide-entry">Accepted</div>
      </div>
    </div>
  </div>
{% endblock page-content %}
