{% extends "knowledge-base/base.html" %}

{% block page-content %}
  <h1>Guide List</h1>
  <div class="grid-container">
    {% for guide in guides %}
      <div class="game-card">
        <a href="#">Guide for {{ guide.game_id }}</a>
        <!-- should replace the link with the guide details link in the issue on guide page-->
      </div>
    {% empty %}
      <p>No guides found.</p>
    {% endfor %}
  </div>
  <a href="#">Upload a Guide</a>
  <!-- should replace this link with the upload guide link -->
  <br />
  {% if has_guides %}<a href="#">Manage My Guides</a>{% endif %}
  <p>Note: If you have contributed a guide and wish to check update, please log in first.</p>
{% endblock page-content %}
